@CHARSET "UTF-8";

.log-head {
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

br {
	display: hidden;
}

#common-container {
	padding-right: .5em;
	display: flex;
	margin-top: -180px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	position: relative;
	float: left;
	height: 500px;
	z-index: -1;
}

.push {
	margin-top: 2000px;
	height: 70px;
}

#by-price {
	margin-top: 50px;
}

.product-ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	margin-top: 65px;
}

.block {
	display: block;
}

.inLineButton, .inLineSpanGray {
	display: inline-block;
}

br {
	visibility: hidden;
}

.product-img {
	padding-bottom: 0px;
	width: 200px;
	height: auto;
}

.pic-div {
	width: 200px;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

.text-div {
	width: 200px;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
}

.number-div {
	width: 200px;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.price-div {
	width: 200px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.push-pic {
	width: 200px;
	height: 56px;
	
}

.inLineSpanGray {
	color: #8E8E8C;
	font-family: Calibri;
	font-size: 14px;
	padding-right: 43px;
	padding-top: 5px;
}

.product-btn {
	width: 220px;
	background-color: #E60000;
	color: #FFFFFF;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	z-index: 30;
}

/*button {
  border:1px solid #22A3C5;
  font-family: Calibri;
  font-weight: bold;
  color: white;
  background-color: #15C8E7;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  position: absolute;
  margin-top: 5px;
}*/
.product-li {
	margin-left: 40px;
	list-style-position: inside;
	border: 1px solid #E5E5E5;
}

#head {
	color: #7E817E;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 7px;
	padding-top: 5px;
}

#search-menu-container{
	margin-top: 55px;
}

.titles-menu {
	height: 50px;
	border-top: 2px solid #E60000;
}

.search-menu-function{
	border-top: 1px solid #DBDBDB;	
	background-color: #F9F9F9;
}
.menu-word {
	padding: 10px;
	
}

.num-field, .select-field {
	height: 30px;
	margin-top: 15px;
}

#price-sub {
	margin-top: 15px;
}

.select-field {
	width: 180px;
	padding-left: 20px;
	padding-right: 20px;
}

.num-field {
	width: 60px;
	margin-left: 10px;	
	margin-right: 10px;
}
#from {
	display: inline-block;
	margin-left: 10px;
}
#second-menu-product{
	margin-top: 30px;
}

.product-menu-btn {
	margin-bottom: 15px;
	margin-left: 15px;
	background-color: #E60000;
	color: #FFFFFF;
	border: none;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	z-index: 30;
}