@CHARSET "UTF-8";

.log-head {
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

br {
	display: hidden;
}

#common-container {
	padding-right: .5em;
	display: flex;
	margin-top: -120px;
	margin-left: 270px;
	margin-right: 0px;
	margin-bottom: 0px;
	position: relative;
	float: left;
	height: 500px;
	z-index: -1;
}

#left-div, #right-div {
	z-index: 1;
	margin-bottom: 400px;
}

#left-div {
	margin-right: 200px;
}

#right-div {
	margn-left: 50px;
}

.push {
	margin-top: 300px;
	height: 70px;
}

#center-line {
	z-index: 1;
	width: 1px;
	background-color: #E5E5E5;
	size: 500px;
	color: #E5E5E5;
	margin-right: 150px;
	height: 270px;
	margin-bottom: 0px;
}

.loin-titles {
	font-weight: normal;
}

#btn-reg-a {
	text-decoration: none;
	color: white;
}

#btn-reg {
	margin-top: 20px;
	background-color: #E60000;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#field-1 {
	height: 40px;
	width: 300px;
	margin-left: 0.5em;
}

#field-2 {
	margin-top: 10px;
	height: 40px;
	width: 300px;
	margin-left: 0.1em;
}

#password {
	margin-top: 10px;
}

#first-label {
	display: inline-block;
	text-align: left;
}

#second-label {
	display: inline-block;
	text-align: left;
}

#rem-forg {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}

#forgotten {
	text-decoration: none;
	color: #E60000;
	margin-left: 90px;
}

#btn-log {
	margin-top: 20px;
	margin-left: 50px;
	background-color: #E60000;
	color: #FFFFFF;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	z-index: 30;
}