@CHARSET "UTF-8";

br {
	display: hidden;
}

.log-head {
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

.head-div {
	background-color: #F9F9F9;
	border: 1px solid #DDDDDD;
	height: 69px;
	width: 1050px;
	margin-left: 0px;
}

#common-container {
	padding-right: .5em;
	margin-top: -150px;
	margin-left: 230px;
	margin-right: -50px;
	margin-bottom: 0px;
	position: relative;
	float: left;
	height: 500px;
	z-index: -1;
}

.push {
	margin-top: 20px;
	height: 70px;
}

.heading-title {
	position: relative;
	display: inline;
	margin-top: -100;
	margin-left: 30px;
	margin-bottom: 30px;
}

.title-div {
	display: inline;
	position: relative;
	margin-top: 25px;
	margine-bottom: 30px;
	float: left;
}

#first-heading, #second-heading, #third-heading {
	float: left;
}

.info-div {
	background-color: #FCFCFC;
	border: 1px solid #DDDDDD;
}

#email {
	text-decoration: none;
	color: #E60051;
}

.data-div {
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dt {
	padding: 0.5em;
}

.data-span {
	padding-left: 0.5em;
}

#order-date {
	padding-left: 1.5em;
}

.products-head {
	padding: 10px;
}

.promo-price, #shipping, .asterisk {
	color: #E60000;
}

#address-form {
	padding: 25px;
	margin-left: 130px;
}

.top-field {
	height: 40px;
	width: 300px;
}

#payment {
	height: 45px;
	width: 305px;
}

.top-field, #payment {
	margin-left: 0.5em;
	margin-top: 20px;
	margin-right: 0px;
}

.field-label {
	margin-top: 30px;
	float: left;
	width: 10em;
	margin-right: 1em;
}

.row-label {
	margin-left: 5px;
	margin-right: 10px;
}

#zip {
	width: 100px;
}

.small-number-input {
	width: 40px;
}

.small-number-input, #zip {
	height: 40px;
	margin-left: 0.5em;
	margin-top: 20px;
	margin-right: 0px;
}

#order-submit-btn {
	margin-top: 15px;
	margin-left: 182px;
	background-color: #E60000;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	color: #FFFFFF;
}